body{
	/*font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;*/
	background-color:#000000;
	}

.box_test{
	height:auto;
	color: red;
	background-color: green;
}

.main_logo{
	
}

.blank_height{
	height: 200px;
}