body{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	background-color:#090909;
	}
	
.bg{
	background-color:#090909;
	}

.section01{
	background-image: linear-gradient(rgba(255,255,255,0.00),#090909 95%),url(../images/section1_bg.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:relative;
	}

.logo{
	text-align:center;	
	}

.navbar{
	height:auto;
	margin-bottom:0;
	}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
	}

.navbar .navbar-collapse {
  text-align: center;
	}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color:#FFFFFF;
	background-color:#fc8e31;
	}

.navbar-default {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(231, 231, 231, 0);
	}

.navbar-default .navbar-nav>li>a {
    color:#FFFFFF;
	}
	
.intro{
	padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 300px;
    padding-left: 0px;
	height:auto;
	}
	
.intro_content{
	height:auto;
	}
	
.heading_style{
	font-family: 'Oswald', sans-serif;
	color:white;

	}
	
.headding_l1{
	font-size:32px;
	font-weight:bold;
	}
.headding_l2{
	font-size:51px;
	margin-top: -20px;
	}
	
.intro_txt{
	color:white;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold
	}
	
.skills{
    background-color: #FFFFFF;
    padding: 30px 0;
	width:100%;
    height:auto;
	}

.skills_content{
	padding:30px;
	height:auto;
	}
	
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color:#FFFFFF; 
    background-color: #090909;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.skills_heading_style{
	text-align:center;
	font-family: 'Oswald', sans-serif;
	color:#fc8e31;

	}
.skills_headding_l1{
	background-position:center;
	font-size:32px;
	font-weight:bold;
	}
.skills_headding_l2{
	font-size:51px;
	margin-top: -20px;
	}

.skills_txt{
	padding:25px;
	color:black;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold
	}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    padding: 10px;
    max-width: 100%;
    height: auto;
}

.portfolio_content{
	padding:10px;
	height:auto;
	}
.portfolio_heading_style{
	text-align:center;
	font-family: 'Oswald', sans-serif;
	color:#fc8e31;
	padding-top:50px;
	}
	
.InfoBox{
	padding:30px;
	}

	
footer {
  background: #141414;
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
}





